<div class="navbar">
  <div class="left">
    <div class="logo">
      <h2>Sakura</h2>
      <br>
    </div>
    <div class="collections">
      <% @collections.each do |collection| %>
        <h2>
          <%= link_to ("#{collection.name} #{collection.season} #{collection.year}"),show_collection_path(collection) %>
        </h2>
      <% end %>
    </div>
  </div>

  <div class="right">
    <div class="links">
      <h2>
        <%= link_to 'comprar #', home_path %>
      </h2>
      <br>
      <h2>
        <%= link_to 'contactanos #', home_path %>
      </h2>
      <h2>
        <%= link_to 'instagram #', home_path %>
      </h2>
      <h2>
        <%= link_to 'facebook #', home_path %>
      </h2>
    </div>
  </div>
</div>

