<div class="navbar">
  <div class="left">
    <h2>
      <div class="glitch_logo" data-text="SAKURA">
        <%=  link_to 'sakura', sakura_path %>
      </div>
    </h2>
    <br>
    <div class="collections_links">
      <% @collections.each do |collection| %>
        <h2>
          <%= link_to ("#{collection.name} #{collection.season} #{collection.year}"),show_collection_path(collection) %>
        </h2>
      <% end %>
      <h2><%= link_to 'ver todas', home_path %></h2>
    </div>
  </div>
  <div class="right">
    <h2>
      <div class="comprar">
        <%= link_to 'comprar #', home_path %>
      </div>
    </h2>
    <div class="socials_links">
      <br>
      <h2><%= link_to 'contactanos #', home_path %></h2>
      <h2><%= link_to 'instagram #',  home_path %></h2>
      <h2><%= link_to 'facebook #', home_path %></h2>
    </div>
  </div>
</div>
